@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>Let's create a simple ASP.NET MVC application with Dapper for performing generic CRUD (Create, Read, Update, Delete) operations. Dapper is a lightweight micro ORM (Object-Relational Mapping) for .NET.</h5>
</div>


<br /><br />